@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply w-dvw h-dvh overflow-hidden bg-[url('/images/wallpaper.png')] bg-cover bg-no-repeat bg-center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;

  --color-dark-800: rgba(255, 255, 255, 0.1);
  --color-dark-700: #1e1e1e;
  --color-dark-500: rgba(30, 30, 30, 0.8);
  --color-dark-300: #323232;
  --color-dark-100: rgba(255, 255, 255, 0.25);

  --breakpoint-xs: 360px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply flex justify-between items-center bg-white/50 dark:bg-dark-700/50 backdrop-blur-3xl p-2 px-5 select-none text-black dark:text-white max-sm:hidden;

    div {
      @apply flex items-center gap-5;
    }

    ul {
      @apply flex items-center gap-5;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }

    time {
      @apply text-sm font-medium text-black dark:text-white;
    }
  }
}

@layer components {
  .icon {
    @apply p-1 hover:bg-gray-200 dark:hover:bg-dark-500 rounded hover:cursor-default;
  }

  #welcome {
    @apply text-gray-200 flex flex-col justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none;
  }

  #dock {
    @apply absolute bottom-5 left-1/2 -translate-x-1/2 z-50 select-none px-5 max-sm:w-full;

    .dock-container {
      @apply bg-white/20 backdrop-blur-md justify-between max-sm:rounded-3xl rounded-2xl p-1.5 max-sm:px-3 flex items-end gap-1.5 max-sm:w-full;
    }

    .tooltip {
      @apply !py-1 !px-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
    }

    .dock-icon {
      @apply max-sm:size-full size-14 3xl:size-20 cursor-pointer;

      img {
        @apply object-cover object-center;
      }
    }
  }
